// SPDX-License-Identifier: BSD-3-Clause
/*
 * SM7150-AA Xiaomi Mi 9T / Redmi K20 specific device tree
 *
 * Copyright (c) 2024, Danila Tikhonov <danila@jiaxyga.com>
 * Copyright (c) 2024, Jens Reidel <adrian@travitia.xyz>
 */

/dts-v1/;

#include <dt-bindings/sound/qcom,q6asm.h>

#include "sm7150-xiaomi-common.dtsi"

/delete-node/ &wlan_msa_mem;
/delete-node/ &npu_mem;
/delete-node/ &ipa_fw_mem;
/delete-node/ &ipa_gsi_mem;
/delete-node/ &gpu_mem;

&adsp_mem {
	reg = <0x0 0x95700000 0x0 0x2600000>;
};

&cont_splash_mem {
	reg = <0x0 0x9c000000 0x0 (1080 * 2340 * 4)>;
};

/*
 * Davinci uses the SM7150-AA SoC.
 * Limit CPU clock to 2.2 GHz
 */

&cpu6_opp14 {
	status = "disabled";
};

/ {
	/*
	 * Xiaomi Mi 9T
	 * Xiaomi Redmi K20
	 */
	model = "Xiaomi Mi 9T";
	compatible = "xiaomi,davinci", "qcom,sm7150";

	qcom,board-id = <40 0>;

	reserved-memory {
		wlan_msa_mem: memory@97d00000 {
			reg = <0x0 0x97d00000 0x0 0x180000>;
			no-map;
		};

		npu_mem: memory@97e80000 {
			reg = <0x0 0x97e80000 0x0 0x80000>;
			no-map;
		};

		ipa_fw_mem: memory@97f00000 {
			reg = <0x0 0x97f00000 0x0 0x10000>;
			no-map;
		};

		ipa_gsi_mem: memory@97f10000 {
			reg = <0x0 0x97f10000 0x0 0x5000>;
			no-map;
		};

		gpu_mem: memory@97f15000 {
			reg = <0x0 0x97f15000 0x0 0x2000>;
			no-map;
		};

		rmtfs_mem: memory@f2e01000 {
			compatible = "qcom,rmtfs-mem";
			reg = <0 0xf2e01000 0 0x600000>;
			no-map;

			qcom,client-id = <1>;
			qcom,vmid = <QCOM_SCM_VMID_MSS_MSA>;
		};
	};
};

&framebuffer {
	reg = <0x0 0x9c000000 0x0 (1080 * 2340 * 4)>;
	height = <2340>;
};

&gpu {
	zap-shader {
		firmware-name = "qcom/sm7150/davinci/a615_zap.mbn";
	};
};

&i2c4 {
	clock-frequency = <100000>;
	status = "okay";

	tfa9874: tfa9874@34 {
		compatible = "nxp,tfa9874";
		reg = <0x34>;
		status = "okay";
		reset-gpio = <&tlmm 12 GPIO_ACTIVE_HIGH>;
		irq-gpio = <&tlmm 56 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&tlmm>;
		interrupts = <56 0>;
		interrupt-names = "smartpa_irq";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&smartpa_int_active &smartpa_enable_active>;
		pinctrl-1 = <&smartpa_int_suspend &smartpa_enable_suspend>;
		sound-name-prefix = "Speaker";
		#sound-dai-cells = <0>;
	};
};

&i2c7 {
	clock-frequency = <100000>;
	status = "okay";

	touchscreen: goodix@5d {
		compatible = "goodix,gt9889";
		reg = <0x5d>;
		interrupt-parent = <&tlmm>;
		interrupts = <9 0x2800>;
		vtouch-supply = <&vreg_l6c_3p0>; /* 3v3 */
		vtouch-load = <600000>;
		pinctrl-0 = <&ts_int_active &ts_reset_active>;
		pinctrl-1 = <&ts_int_suspend &ts_reset_suspend>;
		pinctrl-names = "default", "sleep";
		goodix,reset-gpio = <&tlmm 8 GPIO_ACTIVE_HIGH>;
		goodix,irq-gpio = <&tlmm 9 0x2800>;
		goodix,avdd-name = "vtouch";
		goodix,irq-flags = <2>; /* trigger falling;*/
		goodix,panel-max-x = <1079>;
		goodix,panel-max-y = <2339>;
		goodix,panel-max-w = <127>;
		goodix,power-on-delay-us = <300000>; /* 300ms */
		goodix,power-off-delay-us = <5000>; /* 50ms */
	};
};

&i2c9 {
	clock-frequency = <100000>;
	status = "okay";

	/* asahi-kasei,akm09970 (magnetometer) @ 0c */
	/* qcom,smb1390 (charger) @ 10 */
};

&ipa {
	firmware-name = "qcom/sm7150/davinci/ipa_fws.mbn";
};

&panel {
	compatible = "samsung,ams639rq08"; // or visionox,g1639fp106
};

&pm6150_vib {
	status = "okay";
};

&pm6150l_flash {
	status = "okay";

	led-2 {
		function = LED_FUNCTION_FLASH;
		color = <LED_COLOR_ID_YELLOW>;
		led-sources = <2>;
		led-max-microamp = <150000>;
		flash-max-microamp = <1000000>;
		flash-max-timeout-us = <1280000>;
	};
};

&pm6150l_lpg {
	status = "okay";

	led@1 {
		status = "disabled";
	};

	led@2 {
		reg = <2>;
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_STATUS;
		function-enumerator = <0>;
	};

	led@3 {
		reg = <3>;
		color = <LED_COLOR_ID_RED>;
		function = LED_FUNCTION_STATUS;
		function-enumerator = <1>;
	};
};

&q6afedai {
	qi2s@16 {
		reg = <PRIMARY_MI2S_RX>;
		qcom,sd-lines = <0>;
	};

	/*
	qi2s@17 {
		reg = <PRIMARY_MI2S_TX>;
		qcom,sd-lines = <1>;
	};
	*/
};

&q6asmdai {
	dai@0 {
		reg = <0>;
	};

	/*
	dai@1 {
		reg = <1>;
	};
	*/
};

&remoteproc_adsp {
	firmware-name = "qcom/sm7150/davinci/adsp.mbn";
};

&remoteproc_cdsp {
	firmware-name = "qcom/sm7150/davinci/cdsp.mbn";
};

&remoteproc_mpss {
	firmware-name = "qcom/sm7150/davinci/modem.mbn";
};

&sound {
	compatible = "qcom,sm8250-sndcard";
	pinctrl-0 = <&pri_mi2s_active &pri_mi2s_ws_active>;
	pinctrl-names = "default";
	model = "Xiaomi Mi 9T / Redmi K20";

	mm1-dai-link {
		link-name = "MultiMedia1";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA1>;
		};
	};

	speaker_playback_dai {
		link-name = "Primary Spkr Playback";
		cpu {
			sound-dai = <&q6afedai PRIMARY_MI2S_RX>;
		};

		platform {
			sound-dai = <&q6routing>;
		};

		codec {
			sound-dai = <&tfa9874>;
		};
	};
};

&venus {
	firmware-name = "qcom/sm7150/davinci/venus.mbn";
};
